<h1>FileManager#file_get_initialization</h1>
<p>Find me in app/views/file_manager/file_get_initialization.html.erb</p>
<% if @directories.blank? %>
<p>There are not any directories currently in the system.</p>
<% else %>
<p>Dill down from one of these directories</p>

<ul id = "directories">
   <% @directory = @directories.split(",") %>
   <% @directory.each do |name| %>
   <% @name = name[0]; p "name #{name.is_a?(Array)}" %>
   <li><%= link_to @name, {:action => 'file_get_more_information'} -%></li>
   <% end %>
</ul>

<% end %>